<div class="row meeting-room {{ event_in_progress }}" id="meeting-room-display" data-status="{{ event_in_progress }}">
        <div class="col-sm-4 left-panel text-center">
            <h1 class="room-status text-center">
                {% if event_in_progress == 'room-busy' or event_in_progress == 'room-busy-soon' %}
                    BUSY
                {% elseif event_in_progress == 'room-free' %}
                    FREE
                {% elseif event_in_progress == 'room-soon' %}
                    SOON
                {% endif %}
            </h1>
            <br>
            {% if time_remaining %}
                <p>
                    {{ time_remaining }} remaining for this event.
                </p>
            {% endif %}
            {% if time_until_next_event %}
                <p>
                    Next event starts in {{ time_until_next_event }}.
                </p>
            {% endif %}
            <p class="current-time">
                {{ "now"|date("l F j, g:i a") }}
            </p>
        </div>
        <div class="col-sm-8 right-panel">
            <h1 class="text-center">{{ room_display_name }}</h1>
            <br>
            <div class="list-group">
                {% for event in events %}

                    <a href="#" class="list-group-item {% if ( event_in_progress == 'room-busy' or event_in_progress == 'room-busy-soon' ) and loop.first %}list-group-item-warning{% endif %}">
                        <h4 class="list-group-item-heading">
                            {% if event.getSummary %}
                                {{ event.getSummary }}
                            {% else %}
                                Private Event
                            {% endif %}
                        </h4>
                        <p class="list-group-item-text">
                            {% if event.getStart %}{{ event.getStart.getDateTime|date('g:i a') }}{% endif %} -
                            {% if event.getEnd %}{{ event.getEnd.getDateTime|date('g:i a') }}{% endif %}
                            {% if event.getOrganizer and event.getOrganizer.getDisplayName %}- Organizer: {{ event.getOrganizer.getDisplayName }}{% endif %}
                        </p>
                    </a>

                {% endfor %}
            </div>
        </div>
    </div>
